# Defining the host is optional and defaults to {{{basePath}}}
# See configuration.py for a list of all supported configuration parameters.
configuration = Configuration(
    host = "{{{basePath}}}"
)
{{#hasAuthMethods}}
{{#authMethods}}
{{#isApiKey}}

# Configure API key authorization: {{{name}}}
configuration.api_key['{{{name}}}'] = f'Token="{os.getenv("API_KEY")}"'
configuration.api_key_prefix['{{{name}}}'] = "MediaBrowser"

{{/isApiKey}}
{{/authMethods}}
{{/hasAuthMethods}}
